.reset-button,
.download-button,
.donate-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
  margin: 2.2em 0 2.2em 0;
  outline: none;
}
.reset-button {
  color: #fa5246;
}

.download-button {
  color: #2adcf4;
}
.action-buttons-container {
  justify-content: end;
  align-items: end;
}
