.reset-button,
.download-button,
.donate-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
  margin: 2.2em 0 2.2em 0;
  outline: none;
}

.reset-button {
  color: #f45236;
}

.download-button {
  color: #2a9df4;
}

.reset-button:hover {
    color: #ffffff;
  }
  
  .download-button:hover {
    color: #ffffff;
  }

.action-buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }