.reset-button,
.download-button,
.donate-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
  margin: 2.2em 0 2.2em 0;
  outline: none;
}

.reset-button,
.download-button {
  color: #ffffff;
}
.reset-button:hover {
  color: #f44336;
}

.download-button:hover {
  color: #2a9df4;
}
.action-buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
