.champion-card {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    height: 120px;
    background-color: #202020;
  }
  
  .champion-card.completed img {
    opacity: 0.3;
  }
  
  .checkmark-overlay {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #098888;
    color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  
  .champions-grid {
    margin-top: 2.9em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 15px;
    grid-auto-rows: 120px;
  }
  .champions-grid-wrapper {
    min-height: 500px;
  }