
.search-input {
    background-color: #1a1a1a;
    border-radius: 10px;
    color: #fff;
    padding: 15px;
    margin: 5px auto;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
    border: 1px solid #333333; 
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    outline: none;
  }

.search-container{
    flex: 1;
}