.reset-button:hover { 
  color: #f44336; 
}

.download-button:hover { 
  color: #2a9df4; 
}
/** Buttons */
.reset-button,
.download-button,
.donate-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
  margin-bottom: 1em;
  outline: none;
}

.search-input {
  width: 95%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: #1a1a1a;
  color: white;
  font-size: 1rem;
  outline: none;
}

.filter-button,
.sort-button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #222;
  color: #ddd;
  cursor: pointer;
  transition: all 0.2s;
  min-width: 150px;
  min-height: 40px;
  box-sizing: border-box;
}

.filter-button:hover,
.sort-button:hover {
  background-color: #333;
}

.filter-button.active,
.sort-button.active {
  background-color: #056e7c;
  color: rgb(255, 255, 255);
  border: 1px transparent solid;
}

.action-buttons-container {
  display: flex;
  justify-content:end;
  width: 100%;
}
@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}